a{
  text-decoration: none;
}
.main{
  margin: 0 auto;
}
.nav-classify{
  border-bottom: #ED2553 2px solid;
}
.nav-classify li{
  list-style: none;

  /* float: left; */
}

.zone{
  font-size: 15px;
  height: 35px;
  width: 80px;
  padding: 5px 10px;
  
}
.zone-active-bgcolor{
  background-color: #ED2553;
}
.zone-active-font{
  color: #fff;
}
