@font-face {
  font-family: 'iconfont';  /* project id 2370303 */
  src: url('//at.alicdn.com/t/font_2370303_z25er24pnc.eot');
  src: url('//at.alicdn.com/t/font_2370303_z25er24pnc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2370303_z25er24pnc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2370303_z25er24pnc.woff') format('woff'),
  url('//at.alicdn.com/t/font_2370303_z25er24pnc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2370303_z25er24pnc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bingxiang:before {
  content: "\e652";
  font-size: 60px;
  color: #F5DA81;
}

.icon-chuang:before {
  content: "\e61d";
  font-size: 60px;
  color: #F5A9A9;
}

.icon-matong:before {
  content: "\e729";
  font-size: 60px;
  color: #A9F5BC;
}

.icon-reshuiqi:before {
  content: "\e609";
  font-size: 60px;
  color: #F5ECCE;
}

.icon-shafa:before {
  content: "\e643";
  font-size: 60px;
  color: #F5A9BC;
}

.icon-yangtai:before {
  content: "\e64f";
}

.icon-duwei:before {
  content: "\e654";
  font-size: 60px;
  color: #A9D0F5;
}

.icon-jiadian:before {
  content: "\e663";
}

.icon-yuefu:before {
  content: "\e62e";
}

.icon-weizhi:before{
  content: "\e604";
  color: #A9D0F5;
  font-size: 30px;
}
.icon-money:before{
  content: "\e62d";
  color: #73c9e5;
  font-size: 20px;
}
.icon-people:before{
  content: "\e614";
}
.icon-inventory:before{
  content: "\e600";
}

.icon-exit:before{
  content: "\e66c";
}

.icon-back:before{
  content: "\e759";
  font-size: 30px;
  color: #585858;
}
.icon-success:before{
  content: "\e601";
  color: rgb(35, 173, 62);
}


