@font-face {
  font-family: 'iconfont';  /* Project id 2370303 */
  src: url('//at.alicdn.com/t/font_2370303_tpdzqwifxl.woff2?t=1620023701553') format('woff2'),
       url('//at.alicdn.com/t/font_2370303_tpdzqwifxl.woff?t=1620023701553') format('woff'),
       url('//at.alicdn.com/t/font_2370303_tpdzqwifxl.ttf?t=1620023701553') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bingxiang:before {
  content: "\e652";
  font-size: 60px;
  color: #F5DA81;
}

.icon-chuang:before {
  content: "\e61d";
  font-size: 60px;
  color: #F5A9A9;
}

.icon-matong:before {
  content: "\e729";
  font-size: 60px;
  color: #A9F5BC;
}

.icon-reshuiqi:before {
  content: "\e609";
  font-size: 60px;
  color: #F5ECCE;
}

.icon-shafa:before {
  content: "\e643";
  font-size: 60px;
  color: #F5A9BC;
}

.icon-yangtai:before {
  content: "\e64f";
}

.icon-duwei:before {
  content: "\e654";
  font-size: 60px;
  color: #A9D0F5;
}

.icon-jiadian:before {
  content: "\e663";
}

.icon-yuefu:before {
  content: "\e62e";
}

.icon-weizhi:before {
  content: "\e604";
  color: #A9D0F5;
  font-size: 30px;
}

.icon-money:before {
  content: "\e62d";
  color: #73c9e5;
  font-size: 20px;
}

.icon-people:before {
  content: "\e614";
}

.icon-inventory:before {
  content: "\e600";
}

.icon-exit:before {
  content: "\e66c";
}

.icon-back:before {
  content: "\e759";
  font-size: 30px;
  color: #585858;
}

.icon-success:before {
  content: "\e601";
  color: rgb(35, 173, 62);
}
.icon-inventory-success:before{
  content: "\e601";
  color: rgb(35, 173, 62);
  font-size: 30px;
}

.icon-done:before {
  content: "\e601";
  color: #ed2553;
}

.icon-back1:before {
  content: "\e65d";
  font-size: 30px;
  color: #585858;
}

.icon-back2:before {
  content: "\e602";
  font-size: 30px;
  color: #585858;
}

.icon-back3:before {
  content: "\e61e";
  font-size: 30px;
  color: #585858;
}

.icon-back4:before {
  content: "\e60a";
  font-size: 30px;
  color: #585858;
}

.icon-house:before {
  content: "\e669";
}

.icon-rental:before {
  content: "\e6bc";
}

.icon-inventory-outtime:before {
  content: '\e668';
  color: rgb(254, 167, 0);
  font-size: 35px;
}
.icon-inventory-attention:before {
  content: '\e668';
  color: rgb(254, 167, 0);
  font-size: 15px;
}

.icon-rightnow-buy:before {
  content: '\e6c3';
  color:#ed2553;
  font-size:13px;
}

.icon-chancel:before {
  content: '\e61c';
  color: #666666;
  font-size:13px;
}

.icon-inventory-apply:before{
  content: '\e615';
  font-size: 30px;
  color:#71b247;
}

.icon-inventory-deal:before{
  content: '\e649';
  color:#71b247;
  font-size: 28px;
}
.icon-inventory-finished:before{
  content: '\e7ed';
  color:#71b247;
  font-size: 28px;
}

.icon-sold-out:before{
  content: '\e6da';
  color:#ed2553
}

.icon-sold-outed:before{
  content: '\e67d';
  color:#ed2553;
  font-size:40px;
}
.icon-online:before{
  content: '\e603';
  color: #71b247;
  font-size: 13px;
}
.icon-comment:before{
  content: '\e605';
  font-size:20px;
  color:rgb(253, 168, 30);
}
.icon-face-1:before{
  content: '\e60b';
}
.icon-face-2:before{
  content: '\e687';
}
.icon-face-3:before{
  content: '\e619';
}
.icon-face-off:before{
  content: '\e687';
  color: rgb(198, 209, 222);
}

.icon-upline:before{
  content: "\e6af";
  color: #71b247;
}
